//rs main
.main {
    .splitpanes {
        .splitpanes__splitter {
            border: none !important;
        }
    }

    .tool-bar {
        border-block-end: 1px solid rgb(var(--v-theme-primary));
        margin-left: -12px !important;
        margin-right: -12px !important;
    }

    .title {
        font-weight: bold;
        margin-right: 10px;
    }

    .content-box {
        padding: 10px;
        background-color: #f8f7fa;
        block-size: 100%;
    }

    .content {
        border-radius: 6px;
        background-color: white;
        block-size: 100%;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 7.5%);
        padding: 0 12px;
    }

    .family-tree {
        .family-tree-toolbar {
            background-color: rgba(var(--v-theme-primary), 0.1);
            border-radius: 6px;
            margin-top: 10px !important;
        }
    }

    .mc-search-result {
        .v-tabs {
            .v-tab {
                &:not(.v-tab--selected) {
                    opacity: 0;
                }

            }
        }

        &:hover {
            .v-tabs {
                .v-tab {
                    opacity: 1;
                }
            }
        }
    }
}
