//rs main
.main {
    .splitpanes {
        &.default-theme {
            .splitpanes__splitter {
                border: none !important;
                background-color: transparent !important;
            }

            .splitpanes__pane {
                background-color: transparent;
            }
        }
    }

    .tool-bar {
        border-block-end: 1px solid rgb(var(--v-theme-primary));
        margin-inline: -12px !important;
    }

    .title {
        font-weight: bold;
        margin-inline-start: 10px;
    }

    .content-box {
        padding: 4px;

        // background-color: #f8f7fa;
        block-size: 100%;
    }

    .mc-data-scroll {
        block-size: calc(100% - 110px);
        overflow-y: scroll;
        margin-top: 1.5px;
    }

    .no-select {
        user-select: none;
    }

    .content {
        position: relative;
        border-radius: 6px;
        background-color: white;
        block-size: 100%;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 7.5%);
        padding-block: 0;
        padding-inline: 12px;



        .mc-data-container {
            block-size: 100%;
            padding-block: 4px;
            padding-inline: 0;

            .data-collection-tabs {
                margin: 1.5px 0;
                border: none;
            }

            .loading-container {
                position: absolute;
                background: rgba(white, 0.92);
                inset-block-end: 0;
                inset-inline: 24px;
                padding-block: 6px;
                padding-inline: 0;
                text-align: center;
            }
        }
    }

    .mc-main-tree {
        .toolbar {
            border-radius: 6px;
            background-color: rgba(var(--v-theme-primary), 0.1);
            margin-block-start: 10px !important;
        }

        .header {
            padding: 0 0px;
            margin-top: 0;
            font-size: 0.9em;

            // div {
            //     &:nth-child(2) {
            //         position: relative;

            //         &:before {
            //             content: "";
            //             position: absolute;
            //             top: 0;
            //             right: 0;
            //             width: 1px;
            //             height: 100%;
            //             background-color: #b7b7b7;
            //         }
            //     }
            // }
        }

        .tree-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .tree-node {
            color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
            font-size: 0.9em;
            min-width: 34.89px;
            text-align: center;
            position: relative;
        }

        .selected {
            .tree-node {
                color: inherit;
            }
        }

        .v-list {
            padding: 0;

            .v-list-item {
                padding: 4px 0;

                // &:before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 36px;
                //     width: 1px;
                //     height: 100%;
                //     background-color: #b7b7b7;
                // }
            }
        }
    }

    .mc-search-result,
    .mc-data-shelf-box {
        box-shadow: 0 0 5px rgba(var(--v-shadow-key-umbra-color), 0.15), 0 0 transparent, 0 0 transparent !important;
        margin-block-end: 10px;

        .v-card-text {
            padding: 8px;
            block-size: 105px;

            p {
                overflow: hidden;
                block-size: 66px;
                margin-block-end: 0;
                text-align: justify;
            }

            .v-footer {
                padding: 0;
            }
        }
    }

    .mc-search-result {
        .v-card-text {
            .v-footer {
                padding: 0;
            }
        }

        // .v-slide-group {
        //   height: 40px;
        // }

        .v-tabs {
            block-size: 0;
            opacity: 0;
            transition: all 0.3s ease-out 2s;

            .v-slide-group__content {
                padding: 5px;
            }

            .v-tab {
                border-radius: 6px;
                margin-inline-start: 5px;

                // &:hover,
                // &:focus {
                //     background-color: rgba(var(--v-theme-primary), 0.1) !important;
                //     box-shadow: 0 1px 4px rgba(var(--v-theme-primary), 0.15);
                //     color: rgb(var(--v-theme-primary)) !important;
                // }

                .v-tab__slider {
                    display: none;
                }
            }
        }

        &:hover {
            .v-tabs {
                block-size: 40px;
                opacity: 1;
                transition: all ease-in 0.3s;
            }
        }
    }

    .mc-data-shelf {
        .data-shelf-toolbar {
            border-radius: 6px;

            &:not(.v-theme--dark) {
                background-color: rgba(var(--v-theme-primary), 0.1);
            }

            margin-block-start: 2px !important;

            button {
                border-radius: 5px;
                margin-block: 0;
                margin-inline: 5px;

                // &:hover {
                //   .v-icon {
                //     color: white !important;
                //   }

                //   background-color: rgb(var(--v-theme-primary)) !important;
                // }
            }
        }

        .foot-note {
            color: rgb(var(--v-theme-primary));
            margin-block-start: 5px;
        }

        .data-box-toolbar {
            padding: 5px 0 !important;
        }
    }
}

.mc-facet-box {
    &:not(.v-theme--dark) {
        background-color: rgba(var(--v-theme-primary), 0.1);
    }

    .v-card-title {
        font-size: 1em;
        margin-block: 3px;
        margin-inline: 0;
        padding-block: 0;
        padding-inline: 10px;
    }

    .v-text-field {
        padding-block: 0;
        padding-inline: 10px;

        &:not(.v-theme--dark) {
            .v-field {
                background-color: white;

                .v-field__outline {
                    display: none;
                }
            }
        }
    }

    .v-list {
        border-radius: 0;
        background-color: transparent;
        max-block-size: 148px;
        overflow-y: auto;
        padding-block: 4px;
        padding-inline: 0;

        &::-webkit-scrollbar {
            inline-size: 4px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 2.5px;
            background: #ccd0dc;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2.5px;
            background: #576363;
        }

        .v-input {
            .v-selection-control {
                margin-inline-end: 0;

                input {
                    block-size: 13px;
                    inline-size: 13px;
                }
            }
        }

        .v-list-item {
            min-block-size: 28px;

            .v-list-item-title {
                font-size: 0.9em;
            }

            .v-list-item__prepend {
                .v-list-item__spacer {
                    inline-size: 0;
                }
            }
        }
    }
}

.mc-dialog-bookselect {
    .v-card-item {
        padding: 12px 12px 0 !important;
    }

    .v-card-text {
        padding: 12px !important;
    }

    .book-item {
        margin-block-end: 5px;
        padding: 5px;
        box-shadow: 0 0 5px rgba(var(--v-shadow-key-umbra-color), 0.15), 0 0 transparent, 0 0 transparent !important;
        margin-block-end: 10px;

        img {
            border-radius: 6px;
        }
    }

    .book-title {
        margin-block-end: 5px;
        display: block;
        color: rgb(var(--v-theme-primary));

        em {
            font-style: normal;
            background-color: yellow;
            font-weight: bold;
            color: black;
        }
    }

    p {
        margin-block-end: 3px;
        font-size: 0.9em;
    }
}
