//rs main
.main {
    .splitpanes {
        &.default-theme {
            .splitpanes__splitter {
                border: none !important;
                background-color: transparent !important;
            }

            .splitpanes__pane {
                background-color: transparent;
            }
        }
    }

    .tool-bar {
        border-block-end: 1px solid rgb(var(--v-theme-primary));
        margin-inline: -6px !important;
    }

    .title {
        font-weight: bold;
        margin-inline-start: 10px;
    }

    .content-box {
        padding: 4px;

        // background-color: #f8f7fa;
        block-size: 100%;
    }

    .mc-data-scroll {
        block-size: calc(100% - 110px);
        margin-block-start: 1.5px;
        overflow-y: scroll;
    }

    .no-select {
        user-select: none;
    }

    .content {
        position: relative;
        block-size: 100%;
        padding-block: 0;
        padding-inline: 12px;

        .mc-data-container {
            block-size: 100%;
            padding-block: 4px;
            padding-inline: 0;

            .data-collection-tabs {
                border: none;
                margin-block: 1.5px;
                margin-inline: 0;
            }

            .loading-container {
                position: absolute;
                background: rgba(white, 0.92);
                inset-block-end: 0;
                inset-inline: 24px;
                padding-block: 6px;
                padding-inline: 0;
                text-align: center;
            }

            .paging-container {
                position: absolute;
                background: rgba(white, 0.95);
                inset-block-end: 0;
                inset-inline-end: 24px;
                padding-inline: 0;
                text-align: center;
                border-radius: 7px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .mc-main-tree {
        .toolbar {
            border-radius: 6px;
            background-color: rgba(var(--v-theme-primary), 0.1);
            padding-top: 2px;
            padding-bottom: 2px;
            padding-inline: 4px;
            // margin-block-start: 10px !important;
        }

        .header {
            padding: 0 0px;
            margin-top: 0;
            font-size: 0.9em;

            div {
                &:nth-child(2) {
                    border-right: 1px solid #c7c7c7 !important;
                }
            }
        }

        .tree-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .v-list-item-title {
            overflow: unset;
        }

        .tree-node {
            color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
            font-size: 0.9em;
            width: 34.89px;
            text-align: center;
            position: sticky;
            left: 0;
            top: 0;
            background-color: white;
            border-right: 1px solid #c7c7c7 !important;
        }

        .selected {
            .tree-node {
                color: inherit;
            }
        }

        .v-list {
            padding: 0;

            .v-list-item {
                padding: 4px 0;

                &:hover {
                    .tree-node {}
                }

                // &:before {
                //     content: "";
                //     position: absolute;
                //     top: 0;
                //     left: 36px;
                //     width: 1px;
                //     height: 100%;
                //     background-color: #b7b7b7;
                // }
            }
        }
    }

    .mc-search-result,
    .mc-data-shelf-box {
        box-shadow: 0 0 5px rgba(var(--v-shadow-key-umbra-color), 0.15), 0 0 transparent, 0 0 transparent !important;
        margin-block-end: 10px;

        .v-card-text {
            padding: 8px;
            block-size: 105px;

            p {
                overflow: hidden;
                block-size: 66px;
                margin-block-end: 0;
                text-align: justify;
            }

            .v-footer {
                padding: 0;
            }
        }

        .box-state-container {
            position: absolute;
            top: 7px;
            left: -10px;
            /* کمی از کارت بیرون بیاد */
            background: rgba(255, 255, 255, 0.95);
            padding: 4px;
            border-radius: 4px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        }

    }

    .mc-search-result {
        .v-card-text {
            .v-footer {
                padding: 0;
            }
        }

        // .v-slide-group {
        //   height: 40px;
        // }

        .v-tabs {
            block-size: 40px;
            opacity: 1;
            // transition: all 0.3s ease-out 2s;

            .v-slide-group__content {
                padding: 5px;
            }

            .v-tab {
                border-radius: 6px;
                margin-inline-start: 5px;

                // &:hover,
                // &:focus {
                //     background-color: rgba(var(--v-theme-primary), 0.1) !important;
                //     box-shadow: 0 1px 4px rgba(var(--v-theme-primary), 0.15);
                //     color: rgb(var(--v-theme-primary)) !important;
                // }

                .v-tab__slider {
                    display: none;
                }
            }
        }

        // &:hover {
        //     .v-tabs {
        //         block-size: 40px;
        //         opacity: 1;
        //         transition: all ease-in 0.3s;
        //     }
        // }
    }

    .mc-data-shelf {
        .data-shelf-toolbar {
            border-radius: 6px;

            &:not(.v-theme--dark) {
                background-color: rgba(var(--v-theme-primary), 0.1);
            }

            margin-block-start: 2px !important;

            button {
                border-radius: 5px;
                margin-block: 0;
                margin-inline: 5px;

                // &:hover {
                //   .v-icon {
                //     color: white !important;
                //   }

                //   background-color: rgb(var(--v-theme-primary)) !important;
                // }
            }
        }

        .data-box-toolbar {
            padding-block: 5px !important;
            padding-inline: 0 !important;
        }
    }
}

.close-btn {
    position: absolute;
    inset-inline-end: -5px;
    inset-block-start: -5px;
    z-index: 1;
}

.fish-editor {
    padding: 10px;
    border: 1px solid #ccc;
    margin-block-end: 20px;
    max-block-size: 400px;
    min-block-size: 150px;
    overflow-y: scroll;
}

.foot-note {
    color: rgb(var(--v-theme-primary));
    font-size: smaller;
    margin-block-start: 5px;
}

.draggablebox {

    border: 1px solid transparent;
    transition: background 0.3s, border-color 0.3s;
    border-radius: 3px;
    background: rgba(var(--v-theme-success), 0.6);
    border-color: rgba(var(--v-border-color), 0.3);
}

.footenote-index {
    color: #1a5cc0;
    font-size: smaller;
    padding-inline-end: 5px;
}

.no-select {
    user-select: none;
}

.mc-loading-overlay {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(207, 207, 207, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.v-card {
    .v-card-actions {
        padding: 0 !important;
    }
}

.v-icon--size-default {
    font-size: calc(var(--v-icon-size-multiplier) * 1em)
}

.mc-facet-box {
    &:not(.v-theme--dark) {
        background-color: rgba(var(--v-theme-primary), 0.1);
    }

    .v-card-title {
        font-size: 1em;
        margin-block: 3px;
        margin-inline: 0;
        padding-block: 0;
        padding-inline: 10px;
    }

    .v-text-field {
        padding-block: 0;
        padding-inline: 10px;

        &:not(.v-theme--dark) {
            .v-field {
                background-color: white;

                .v-field__outline {
                    display: none;
                }
            }
        }
    }

    .v-list {
        border-radius: 0;
        background-color: transparent;
        max-block-size: 148px;
        overflow-y: auto;
        padding-block: 4px;
        padding-inline: 0;

        &::-webkit-scrollbar {
            inline-size: 4px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 2.5px;
            background: #ccd0dc;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2.5px;
            background: #576363;
        }

        .v-input {
            .v-selection-control {
                margin-inline-end: 0;

                input {
                    block-size: 13px;
                    inline-size: 13px;
                }
            }
        }

        .v-list-item {
            min-block-size: 28px;

            .v-list-item-title {
                font-size: 0.9em;
            }

            .v-list-item__prepend {
                .v-list-item__spacer {
                    inline-size: 0;
                }
            }
        }
    }
}

.v-list-sm {
    padding-block: 4px;
    padding-inline: 0;

    &::-webkit-scrollbar {
        inline-size: 4px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 2.5px;
        background: #ccd0dc;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background: #576363;
    }

    .v-input {
        .v-selection-control {
            margin-inline-end: 0;

            input {
                block-size: 13px;
                inline-size: 13px;
            }
        }
    }

    .v-list-item {
        min-block-size: 28px;

        .v-list-item-title {
            font-size: 0.9em;
        }

        .v-list-item__prepend {
            .v-list-item__spacer {
                inline-size: 0;
            }
        }
    }
}

.v-card-sm {
    .v-card-item {
        padding: 12px !important;

        .v-card-item__content {
            .v-card-title {
                font-size: .9em;
            }
        }
    }
}

.fade-highlight {
    animation: fade-animation 2s ease forwards;
}

@keyframes fade-animation {
    0% {
        background-color: rgba(var(--v-theme-primary), 0.3);

    }

    100% {
        background-color: transparent;
    }
}

.search-container {
    padding-inline: 10px;
}

.mc-dialog-bookselect {
    .v-card-item {
        padding-block: 12px 0 !important;
        padding-inline: 12px !important;
    }

    .v-card-text {
        padding: 12px !important;
    }

    .book-item {
        padding: 5px;
        box-shadow: 0 0 5px rgba(var(--v-shadow-key-umbra-color), 0.15), 0 0 transparent, 0 0 transparent !important;
        margin-block-end: 10px;

        img {
            border-radius: 6px;
        }
    }

    .book-title {
        display: block;
        color: rgb(var(--v-theme-primary));
        margin-block-end: 5px;

        em {
            background-color: yellow;
            color: black;
            font-style: normal;
            font-weight: bold;
        }
    }

    p {
        font-size: 0.9em;
        margin-block-end: 3px;
    }
}

.mc-data-scrolly {
    block-size: calc(100% - 110px);
    margin-block-start: 1.5px;
    overflow-y: scroll;
}
