$scrollbar-width: 4px;
$scrollbar-radius: 2.5px;
$scrollbar-track-color: #dde1ee;
$scrollbar-thumb-color: #92a1a1;

// mixin با پارامترهای قابل تنظیم
@mixin custom-scrollbar($width: $scrollbar-width,
    $radius: $scrollbar-radius,
    $track-color: $scrollbar-track-color,
    $thumb-color: $scrollbar-thumb-color) {

    &::-webkit-scrollbar {
        inline-size: $width;
        block-size: $width;
    }

    &::-webkit-scrollbar-track {
        border-radius: $radius;
        background: $track-color;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $radius;
        background: $thumb-color;
    }

    // حالت افقی - برای کنترل دقیق‌تر
    &::-webkit-scrollbar:horizontal {
        block-size: $width; // مقدار دلخواه برای کاهش ضخامت اسکرول بار افقی
    }
}
