.layout-navbar {
    .navbar-content-container {
        .app-logo {
            order: -1;
        }
    }
}

div {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 5px;
    }
}

.page-title {
    font-weight: bold;
    font-size: 1.5em;
}

.v-treeview {
    .v-list-item {
        &:not(.v-list-group__header) {
            .v-list-item__prepend {
                padding-right: 30px;
            }
        }
    }
}

//rs main
.main {
    .splitpanes {
        .splitpanes__splitter {
            border: none !important;
        }
    }
}
