.layout-navbar {
    .navbar-content-container {
        .app-logo {
            order: -1;
        }
    }
}

.layout-wrapper.layout-nav-type-horizontal .layout-page-content {
    padding: 6px;
}

div {
    &::-webkit-scrollbar {
        inline-size: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #c1c1c1;
    }
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.v-treeview {
    .v-list-item {
        &:not(.v-list-group__header) {
            .v-list-item__prepend {
                padding-inline-start: 30px;
            }
        }
    }
}

.v-selection-control {
    .v-selection-control__input {
        svg {
            display: none;
        }

        input[type="checkbox"] {
            position: relative;
            display: block !important;
            border: 1px solid #ddd;
            border-radius: 50%;

            // border: 1px solid;
            // border-color: inherit !important;
            appearance: none;
            background-color: white;
            block-size: 10px;
            cursor: pointer;
            inline-size: 10px;
            opacity: 1;
            outline: none;

            &:checked {
                background-color: rgb(var(--v-theme-primary));
            }
        }
    }
}
