.layout-navbar {
    .navbar-content-container {
        .app-logo {
            order: -1;
        }
    }
}

.layout-wrapper.layout-nav-type-horizontal .layout-page-content {
    padding: 6px;
}

div {
    &::-webkit-scrollbar {
        inline-size: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #c1c1c1;
    }
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.tree-view-scroll {
    overflow: auto;
    block-size: calc(100vh - 250px);

    &::-webkit-scrollbar {
        height: 8px;
    }
}

.v-treeview {
    border-radius: 0 !important;
    // block-size: calc(100vh - 184px);
    width: fit-content;
    min-width: 100%;
    overflow: unset !important;

    .v-list-item {
        &:not(.v-list-group__header) {
            .v-list-item__prepend {
                padding-inline-start: 22px;
            }
        }

        &.v-list-item--link {
            cursor: default;
        }

        .v-list-item__content {
            overflow: unset;
        }

        .v-list-item-title {
            letter-spacing: normal;
            font-size: 1em;

            // &>div {
            //     white-space: nowrap;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            // }
        }

        .v-list-item-action {
            button {
                width: auto;
                height: auto;
            }
        }
    }

    &.v-list--slim {
        .v-treeview-group {
            &.v-list-group {
                --prepend-width: 0px !important;
                --list-indent-size: 12px;

                .v-list-group__items {
                    .v-list-item {
                        padding-inline-start: calc(0px + var(--indent-padding)) !important;
                    }
                }

            }
        }
    }
}

.v-selection-control {
    .v-selection-control__input {
        svg {
            display: none;
        }

        input[type="checkbox"] {
            position: relative;
            display: block !important;
            border: 1px solid #ddd;
            border-radius: 50%;

            // border: 1px solid;
            // border-color: inherit !important;
            appearance: none;
            background-color: white;
            block-size: 10px;
            cursor: pointer;
            inline-size: 10px;
            opacity: 1;
            outline: none;

            &:checked {
                background-color: rgb(var(--v-theme-primary));
            }
        }
    }
}
