.no-select {
    user-select: none;
    /* استاندارد */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

.no-outline {
    outline: none !important;
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* برای حالت‌های مختلف مرورگر */
.no-outline:focus-visible {
    outline: none !important;
}

.animate__fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeOut {
    animation: fadeOut 0.5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.searchDataBoxInfoTitle {
    font-size: .8em;
    font-weight: bold;
}

.searchDataBoxInfoText {
    color: #555;
    font-size: .8rem;
    line-height: 1.3;
    display: inline;
}
